body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover {
    background-color: #575757;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.label-form {
    margin-top: 10px;
    font-weight: bold;
}

.input-form,
.lists {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.descriptions {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

#buttoncontainer {
    display: inline-block;
    display: flex;
    justify-content: center;
}

.date-form {
    width: 96%;
    max-width: 600px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

table,
tr,
td,
th {
    border: 1px solid #218838;
    border-collapse: collapse;
}

th {
    width: 500px;
    height: 30px;
    background: #28a745;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td {
    text-align: center;
}

button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.hidden {
    display: none;
    width: 90%;
    max-width: 600px;
    margin-top: 10px 0 0 0;
    padding: 0;
}

.links {
    text-decoration: none;
    color: #28a745;
    display: inline-block;
    margin: 2% 10% 2% 5%;
}

.button-left {
    margin-left: 10px;
}

.message {
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}